Package: com.you.shadowtrackerbypass
Name: ShadowTrackerBypass
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Advanced bypass for ShadowTrackerExtra security systems
Maintainer: Security Researcher
Author: Security Researcher
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
